/* styles.css */

.sliders {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.slider {
    display: flex;
    animation: slide 10s infinite;
}

.slide {
    flex: 0 0 100%;
    transition: transform 1s;
}

    .slide img {
        width: 100%;
        height: auto;
    }

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(-200%);
    }

    75% {
        transform: translateX(-300%);
    }

    100% {
        transform: translateX(0);
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height:100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    justify-self:center;
    padding-left:350px;
}

/* CSS for the modal content */
.modal-content {
    background-color: #fefefe;
    margin: auto; /* Center horizontally and vertically */
    border: 1px solid #888;
    margin-left: 20%;
    width:30%;
    margin-top: 50px;
    margin-right:20%;
}

